<h1>Welcome to Campgrounds Page</h1>

<% campgrounds.forEach(function(campground) { %>
    <p> <%= campground.name %> </p>
    <img src= "<%=campground.image%>"" alt="NON Generic Photo">
<% }) %>


